@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham', sans-serif;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply hidden md:block w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900 rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-900 rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-green-700;
  }
}
